h1.big{
font-weight:bold
font-style:normal
font-family:Georgia serif
word-spacing:5px
font-size=medium
}
p.medium
{
font-style:italic
font-weight:bolder;
font-family:'Times New Roman'monospaced;
word-spacing:10px;
font-size=xx-large;
color:blue;
}
h2.small
{
font-style:italic
font-weight:900;
font-family:Andale Mono;
word-spacing:15px;
font-size=150%;
color:red;
}
